@model IEnumerable<TutumAdminAPI.Models.VideoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список видео файлов</h1>

<p>
    <a asp-action="Create">Опубликовать новое видео</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <img src="https://tutumvideoservices-jpwe.streaming.media.azure.net/@Html.DisplayFor(modelItem => item.PreviewPath)">
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.FileName">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.FileName">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
