@model IEnumerable<TutumAdminAPI.Models.Lesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список уроков</h1>

<p>
    <a asp-action="Create">Создать новый урок</a>
</p>
@*<select asp-action="Edit" asp-route-id="@item.LessonId" class ="form-control" asp-items="ViewBag.Courses"></select>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <img src="https://tutumvideoservices-jpwe.streaming.media.azure.net/@Html.DisplayFor(modelItem => item.PreviewPath)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LessonId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.LessonId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.LessonId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
